
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env.dist
composer.lock
symfony.lock
bin/
src/Controller/.gitignore
public/
.DS_Store
*.swp
node_modules
package-lock.json

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
