###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env.dist
composer.lock
symfony.lock
bin/
src/Controller/.gitignore
.DS_Store
*.swp
node_modules
package-lock.json

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.lh
# ignore public/build specific folders below: WIP public
public/build/amcharts4/