body {
  color: #333;
  font-size: 14px;
  font-family: 'Work Sans', Calibri, sans-serif
}

header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;
  height:100px;
  background:url(../../assets/img/auditorium-benches-chairs-207691.jpg) no-repeat center;
  background-size:cover;
  background-position-y: 11%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

header i.fa.fa-calendar-o{
  font-size:20px;
}

header .navbar-default {
  background: inherit;
  height: 100px;
}
header img.navbar-brand{
  height: 75px;
}

.post-title {
  margin-top: 20px;
}

.post-body{
  margin-top: 0px;
  font-size: 14px;
}

.post-body .success {
  color:#28a745;
}

.post-body .info {
  color:#17a2b8;
}

.post-body .warning {
  color:#ffc107;
}

.post-body .danger {
  color:#dc3545;
}

.post-body label{
  cursor: pointer;
  margin: 0px;
}

.post-body .alert i {
  float: left;
  position: relative;
  top: -10px;
  left: -12px;
}

.post-body input[type=checkbox]{
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.post-body input[type=text], 
.post-body input[type=password] {
  font-size: 1em;
  width: 45%;
  margin-right: 20px;
  border-radius: 3px;
  padding: 0.34em 0.5em;
  border: 1px solid #dedede;
}

.post-body input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}

.post-body input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}

.post-body input::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa;
}

.post-body .workflow-details input[type=text] {
  width: auto;
  margin: 0;
  padding: 0.4em 0.5em;
}

.post-body .workflow-details .input-group btn {
  padding: 0.3em 0.8em
}

.post-body .departments input[type=text] {
  width: 90%;
  margin-right: 0px;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.post-body .departments .dept-title {
  background-color: #eee;  
}

.post-body .departments h5 {
  margin: 0;
  padding: 0;
}

.post-body .departments .dept-title a {
  display: block;
  padding: 0.4em;
  margin-right: 1em;
}

.post-body .departments .dept-title a:hover,
.post-body .departments .dept-title a:active {
  background-color: #ddd;
  text-decoration: none;
}

.post-body .departments .dept-title > div > label,
.post-body .departments .course-title > div > label {
  float: left;
  color: #666;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 4px;
}
.post-body .departments .dept-title > div > label.right,
.post-body .departments .course-title > div > label.right {
  float: right;
  margin-right: 0px;
  font-size: 10px;
  margin-top: -3px;
  padding-right: 6px;
}

.post-body .departments .dept-details {
  padding: 1em;
}

.post-body .departments .dept-details h6 {
  color: #bbb;
  font-weight: 200;
  margin: 0;
}

.post-body .departments .dept-details .form-group,
.post-body .departments .course-details .form-group {
  margin-bottom: 0.1rem;
}

.post-body .departments .dept-details .form-group .input-group-append button {
  min-width: 2.5em;
}

.post-body .departments .dept-details label,
.post-body .departments .course-details label {
  text-align: right;
}

.post-body .departments .course-details .form-group label,
.post-body .departments .course-details .form-group input {
  font-size: 12px;
}

.post-body .departments .dept-details .col-sm-3,
.post-body .departments .dept-details .col-sm-8,
.post-body .departments .course-details .col-sm-3,
.post-body .departments .course-details .col-sm-8  {
  padding-right: 0px;
  padding-lefT: 8px;
}

.post-body .departments .dept-details .form-group .multi {
  margin-bottom: 4px;
  position: relative;
}

.post-body .departments .dept-details .form-group .multi a {
  float: right;
  display: block;
  position: relative;
  top: 2px;
  right: 10px;
  padding: 0.2em 0.6em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.post-body .departments .dept-details .form-group .multi a i {
  position: relative;
  top: 2px;
}

.post-body .departments .dept-details .form-group .multi a.success {
  color: #28a745;
} 

.post-body .departments .dept-details .form-group .multi a.danger {
  color: #c82333;
} 

.post-body .dept-details table hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.post-body .dept-details td:last-child {
  padding-left: 8px;
} 

.post-body .dept-courses, 
.post-body .courses-timetable {
  display: none;
}

.post-body .dept-courses > div {
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0 0 4px 4px;
}

.post-body .dept-courses .loading span,
.post-body .courses-timetable .loading span {
  position: relative;
  top: -4px;
}

.post-body .departments .courses-timetable > div {
  border-top: 1px dashed #eee;
  padding-top: 10px;
}

/*
.post-body .departments > div {
  border-bottom: 1px solid #ccc;
}

.post-body .departments > div:last-child {
  border-bottom-width: 0px;
}
*/

.post-body .card {
  border-width: 0px;
}

.post-body #click-here {
  text-align: center;
  font-size: 10px;
  color: #ccc;
}

.post-body span.done input[type=text],
.post-body div.done input[type=text] {
  border-color: #218838;
}

.post-body span.done::before,
.post-body div.done::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
  border-bottom: 3px solid #218838;
  border-right: 3px solid #218838;
  top: -2px;
  right: 32px;
  transform: rotate(45deg) skewX(10deg);
  pointer-events: none;
}

.post-body div.done::before {
  right: auto;
  left: 76%;
  top: 5px;
}

.post-body .departments div.done::before {
  right: auto;
  left: 85%;
  top: 5px;
}

.post-body span.err input[type=text],
.post-body div.err input[type=text]  {
  border-color: #dc3545;
}

.post-body span.err::before,
.post-body div.err::before {
  width: 16px;
  height: 16px;
  content: '';
  position: absolute;
  right: 30px;
  top: 0;
  background: linear-gradient(to top right,
                transparent 0%,
                transparent calc(50% - 2px),
                #dc3545 calc(50% - 2px),
                #dc3545 calc(50% + 2px),
                transparent calc(50% + 2px),
                transparent 100%
              ),
              linear-gradient(to top left,
                transparent 0%,
                transparent calc(50% - 2px),
                #dc3545 calc(50% - 2px),
                #dc3545 calc(50% + 2px),
                transparent calc(50% + 2px),
                transparent 100%
              );
  border-radius: 50%;
  pointer-events: none;
}

.post-body div.err::before {
  right: auto;
  left: 76%;
  top: 7px;
}

.post-body .departments div.err::before {
  right: auto;
  left: 85%;
  top: 8px;
}

.post-body .err[data-errortext]::after {
  z-index: 1000;
  content: attr(data-errortext);
  position: absolute;
  bottom: -29px;
  left: 0;
  width: calc(100% - 24px);
  box-shadow: 0 2px 3px -2px rgba(0,0,0,0.2);
  padding: 0 8px;
  border: 1px solid #dc3545;
  border-top: none;
  background: #f5c6cb;
  font-size: 12px;
  padding: 0.3em;
}
.post-body div.err[data-errortext]::after {
  bottom: auto;
  top: calc(100% - 5px);
  left: 8px;
  width: calc(90% - 7px);
  padding: 0.68em;
}

.post-body div.multi.err[data-errortext]::after {
  top: auto;
  bottom: -33px;
  left: 0px;
  width: 90%;
}

.post-body .departments .course-details div.err[data-errortext]::after {
  padding: 0.4em;
  font-size: 11px;
  width: calc(80% - 6px);
}

.post-body span {
  position: relative;
}

.post-body span.input {
  display: inline-block;
  font-size: 1em;
  width: 45%;
  margin-right: 20px;
  border-radius: 3px;
  padding: 0.34em;
  border: 1px solid #ddd;
  background: #eee;
}

.post-body span.input:empty::before {
  content: 'Convenor details missing';
  font-style: italic;
  color: #aaa;
}

.post-body span:last-child {
  margin-right: 0;
}

.post-body span.loader {
  z-index: 1000;
  position: absolute;
  right: 50px;
  top: 3px;
  display: none;
}

.post-body span.updating span.loader,
.post-body div.updating span.loader{
  display: block;
}

.post-body div.updating span.loader {
  right: auto;
  left: 75%;
  top: 11px;
}

.post-body .departments div.updating span.loader {
  right: auto;
  left: 84%;
  top: 11px;
}

.post-body span.loader > span{
	width: 10px;
	height: 10px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
  margin-left:-10px;
  opacity: 0.7;
	-webkit-animation:3s infinite ease-in-out;
	-moz-animation:3s infinite ease-in-out;
	-o-animation:3s infinite ease-in-out;
}

.post-body span.loader > span:nth-child(1){
	background:#6D9DC5;
	-webkit-animation:kiri 1.2s infinite ease-in-out;
	-moz-animation:kiri 1.2s infinite ease-in-out;
	-o-animation:kiri 1.2s infinite ease-in-out;
	
}
.post-body span.loader > span:nth-child(2){
	background:#2B8CBE;
	z-index:100;
}
.post-body span.loader > span:nth-child(3){
	background:#53599A;
	-webkit-animation:kanan 1.2s infinite ease-in-out;
	-moz-animation:kanan 1.2s infinite ease-in-out;
	-o-animation:kanan 1.2s infinite ease-in-out;
}

@-webkit-keyframes kanan {
  0% {
    -webkit-transform:translateX(20px);
  }
   
	50%{
    -webkit-transform:translateX(-20px);
	}
	
	100%{
    -webkit-transform:translateX(20px);
	  z-index:200;
	}
}
@-moz-keyframes kanan {
  0% {
    -moz-transform:translateX(20px);
  }
   
	50%{
    -moz-transform:translateX(-20px);
	}
	
	100%{
    -moz-transform:translateX(20px);
  	z-index:200;
	}
}
@-o-keyframes kanan {
  0% {
    -o-transform:translateX(20px);
  }
   
	50%{
    -o-transform:translateX(-20px);
	}
	
	100%{
    -o-transform:translateX(20px);
	  z-index:200;
	}
}

@-webkit-keyframes kiri {
  0% {
    -webkit-transform:translateX(-20px);
  	z-index:200;
  }
	50%{
    -webkit-transform:translateX(20px);
	}
	100%{
    -webkit-transform:translateX(-20px);
	}
}

@-moz-keyframes kiri {
  0% {
    -moz-transform:translateX(-20px);
	  z-index:200;
  }
	50%{
    -moz-transform:translateX(20px);
	}
	100%{
    -moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
  0% {
    -o-transform:translateX(-20px);
	  z-index:200;
  }
	50%{
    -o-transform:translateX(20px);
	}
	100%{
    -o-transform:translateX(-20px);
	}
}

.post-body #course_table small {
  color: #848484;
}

.post-body #course_table tr.notop th {
  border-top-width: 0px;
}

.post-body #course_table th.header {
  text-align: center;
  border-bottom-width: 1px;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}

.post-body #course_table th.days,
.post-body #course_table td.days  {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.1em;
  width: 100%;
}
.post-body #course_table th.days,
.post-body #course_table th.second {
  text-align: center;
  font-size: 12px;
  border-bottom-width: 1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.post-body #course_table td.days > div {
  display: block;
  padding: 0.8em;
  background-color: #d6d8db;
}

.post-body #course_table td.days > div.use {
  background-color: #c3e6cb;
}

.post-body .panel-danger {
  border-color: #f7a4af;
}

footer{
  padding:20px;
  text-align:center;
  background-color: #f4f4f4;

  color:#333;
  font-size: 12px; 
  font-family: 'Work Sans', Calibri, sans-serif; 
  line-height: 24px;
}

footer a{
  color: #5caad2; 
  text-decoration: none;
  font-weight: bold;
}

footer a:hover,
footer a:active{
  text-decoration: none;
}

div.container.post{
  margin-bottom:50px;
}

.switch-container {
  height: 224px;
}

.switch-button {
  width: 300px;
  height: 180px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: .3s ease all;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.switch-button.done{
  border-color: #218838;
}

.switch-button.err{
  border-color: #dc3545;
}

.switch-button-case {
  display: inline-block;
  background: none;
  width: 100%;
  height: 49%;
  color: #848484;
  position: relative;
  border: none;
  transition: .3s ease all;
  padding-bottom: 1px;
}

.switch-button-case:hover {
  color: #444;
  cursor: pointer;
}

.switch-button-case:focus {
  outline: none;
}

.switch-button .active {
  color: #151515;
  background-color: #28a745;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  transition: .3s ease-out all;
}
.switch-button .active-case {
  color: #151515;
}

.switch {
  display: inline-block;
  position: relative;
}

.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch label {
  float:left;
  cursor: pointer;
  text-indent: -9999px;
  width: 42px;
  height: 24px;
  background: grey;
  display: block;
  border-radius: 40px;
  position: relative;
}

.switch label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 15px;
  transition: 0.3s;
}

.switch input:checked + label {
  background: #28a745;
}

.switch input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch label:active:after {
  width: 22px;
}

aside {  
  position: fixed;
  width: 3em;
  top: 1em;
  z-index: 100;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
aside li {
  position: relative;
  margin-bottom: 0.4em;
}

aside li > a {
  display: inline-block;
  position: relative;
  left: -6px;
  color:#666;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-left-width: 0px;
  border-radius: 0px 4px 4px 0px;
  padding: 0.2em 0.6em 0.2em 0.9em;
  box-shadow: 3px 3px 5px 0px rgba(00,00,00,0.2);
  font-size: 1em;
  min-width: 2.4em;
  text-align: center;
}

aside li > a:hover,
aside li > a:active {
  color: #000;
  text-decoration: none;
}

aside li > a:active {
  top: 2px;
}