body {
  color: #333;
  font-size: 14px;
  font-family: 'Work Sans', Calibri, sans-serif
}

header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;
  height:100px;
  background:url(../../assets/img/auditorium-benches-chairs-207691.jpg) no-repeat center;
  background-size:cover;
  background-position-y: 11%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

header i.fa.fa-calendar-o{
  font-size:20px;
}

header .navbar-default {
  background: inherit;
  height: 100px;
}
header img.navbar-brand{
  height: 75px;
}

.post-title {
  margin-top: 20px;
}

.post-body{
  margin-top: 0px;
  font-size: 14px;
}

.post-body .success {
  color:#28a745;
}

.post-body .info {
  color:#17a2b8;
}

.post-body .warning {
  color:#ffc107;
}

.post-body .danger {
  color:#dc3545;
}

.post-body label{
  cursor: pointer;
  margin: 0px;
}

.post-body input[type=checkbox]{
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.post-body input[type=text] {
  font-size: 1em;
  width: 45%;
  margin-right: 20px;
  border-radius: 3px;
  padding: 0.34em;
  border: 1px solid #dedede;
}

.post-body .done input[type=text] {
  border-color: #218838;
}

.post-body .done::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  box-sizing: border-box;
  border-bottom: 3px solid #218838;
  border-right: 3px solid #218838;
  top: -2px;
  right: 32px;
  transform: rotate(45deg) skewX(10deg);
  pointer-events: none;
}

.post-body .err input[type=text] {
  border-color: #dc3545;
}

.post-body .err::before {
  width: 16px;
  height: 16px;
  content: '';
  position: absolute;
  right: 30px;
  top: 0;
  background: linear-gradient(to top right,
                transparent 0%,
                transparent calc(50% - 2px),
                #dc3545 calc(50% - 2px),
                #dc3545 calc(50% + 2px),
                transparent calc(50% + 2px),
                transparent 100%
              ),
              linear-gradient(to top left,
                transparent 0%,
                transparent calc(50% - 2px),
                #dc3545 calc(50% - 2px),
                #dc3545 calc(50% + 2px),
                transparent calc(50% + 2px),
                transparent 100%
              );
  border-radius: 50%;
  pointer-events: none;
}

.post-body .err[data-errortext]::after {
  content: attr(data-errortext);
  position: absolute;
  bottom: -29px;
  left: 0;
  width: calc(100% - 24px);
  box-shadow: 0 2px 3px -2px rgba(0,0,0,0.2);
  padding: 0 8px;
  border: 1px solid #dc3545;
  border-top: none;
  background: #f5c6cb;
  font-size: 12px;
  padding: 0.3em;
}

.post-body span {
  position: relative;
}

.post-body span.input {
  display: inline-block;
  font-size: 1em;
  width: 45%;
  margin-right: 20px;
  border-radius: 3px;
  padding: 0.34em;
  border: 1px solid #ddd;
  background: #eee;
}

.post-body span.input:empty::before {
  content: 'Convenor details missing';
  font-style: italic;
  color: #aaa;
}

.post-body span:last-child {
  margin-right: 0;
}

.post-body span.loader {
  z-index: 1000;
  position: absolute;
  right: 50px;
  top: 3px;
  display: none;
}

.post-body span.updating span.loader{
  display: block;
}

.post-body span.loader > span{
	width: 10px;
	height: 10px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
  margin-left:-10px;
  opacity: 0.7;
	-webkit-animation:3s infinite ease-in-out;
	-moz-animation:3s infinite ease-in-out;
	-o-animation:3s infinite ease-in-out;
}

.post-body span.loader > span:nth-child(1){
	background:#6D9DC5;
	-webkit-animation:kiri 1.2s infinite ease-in-out;
	-moz-animation:kiri 1.2s infinite ease-in-out;
	-o-animation:kiri 1.2s infinite ease-in-out;
	
}
.post-body span.loader > span:nth-child(2){
	background:#2B8CBE;
	z-index:100;
}
.post-body span.loader > span:nth-child(3){
	background:#53599A;
	-webkit-animation:kanan 1.2s infinite ease-in-out;
	-moz-animation:kanan 1.2s infinite ease-in-out;
	-o-animation:kanan 1.2s infinite ease-in-out;
}

@-webkit-keyframes kanan {
  0% {
    -webkit-transform:translateX(20px);
  }
   
	50%{
    -webkit-transform:translateX(-20px);
	}
	
	100%{
    -webkit-transform:translateX(20px);
	  z-index:200;
	}
}
@-moz-keyframes kanan {
  0% {
    -moz-transform:translateX(20px);
  }
   
	50%{
    -moz-transform:translateX(-20px);
	}
	
	100%{
    -moz-transform:translateX(20px);
  	z-index:200;
	}
}
@-o-keyframes kanan {
  0% {
    -o-transform:translateX(20px);
  }
   
	50%{
    -o-transform:translateX(-20px);
	}
	
	100%{
    -o-transform:translateX(20px);
	  z-index:200;
	}
}

@-webkit-keyframes kiri {
  0% {
    -webkit-transform:translateX(-20px);
  	z-index:200;
  }
	50%{
    -webkit-transform:translateX(20px);
	}
	100%{
    -webkit-transform:translateX(-20px);
	}
}

@-moz-keyframes kiri {
  0% {
    -moz-transform:translateX(-20px);
	  z-index:200;
  }
	50%{
    -moz-transform:translateX(20px);
	}
	100%{
    -moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
  0% {
    -o-transform:translateX(-20px);
	  z-index:200;
  }
	50%{
    -o-transform:translateX(20px);
	}
	100%{
    -o-transform:translateX(-20px);
	}
}
/*
.post-body span.updating::before {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: radial-gradient(circle at center, transparent 0%, transparent 60%, blue 60%, blue 100%),
              radial-gradient(circle at 12px 18px, blue 0%, blue 4px, transparent 4px, transparent 100%);
  box-sizing: border-box;
  top: -4px;
  right: 26px;
  animation: spin 1s linear infinite;
}
*/
.post-body #course_table small {
  color: #848484;
}

.post-body #course_table tr.notop th {
  border-top-width: 0px;
}

.post-body #course_table th.days-header {
  text-align: center;
  border-bottom-width: 1px;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}

.post-body #course_table th.days,
.post-body #course_table td.days  {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.1em;
  width: 100%;
}
.post-body #course_table th.days {
  text-align: center;
  font-size: 12px;
  border-bottom-width: 1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.post-body #course_table td.days > div {
  display: block;
  padding: 0.8em;
  background-color: #d6d8db;
}

.post-body #course_table td.days > div.use {
  background-color: #c3e6cb;
}

.post-body .panel-danger {
  border-color: #f7a4af;
}

footer{
  padding:20px;
  text-align:center;
  background-color: #f4f4f4;

  color:#333;
  font-size: 12px; 
  font-family: 'Work Sans', Calibri, sans-serif; 
  line-height: 24px;
}

footer a{
  color: #5caad2; 
  text-decoration: none;
  font-weight: bold;
}

footer a:hover,
footer a:active{
  text-decoration: none;
}

div.container.post{
  margin-bottom:50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
