{% include 'header.html' %}
    <div class="container post">
        <div class="row post-body">
            <div class="col-md-6">
                <h3><span style="color: #5caad2;">Lecture Recording</span> Admin</h3>
                <br/>
                {{authenticated}}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <!-- https://www.pexels.com/photo/auditorium-benches-chairs-class-207691/ -->
</body>
</html>
