<footer>
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <a title="Centre for Innovation in Learning and Teaching" href="http://www.cilt.uct.ac.za/">Centre for Innovation in Learning and Teaching</a>
            <br/>
            <span>Email: </span><a href="mailto:help@vula.uct.ac.za?subject=Automated Setup of Lecture Recording {% if dept is defined %} for {{dept}}{% endif %}" title="Help at Vula">help@vula.uct.ac.za</a>
            <br/>
            <span>Phone: 021-650-5500</span>
        </div>
    </div>
</footer>