<div class="row no-gutters" style="position: absolute; top: -38px; width: 100%;">
    <div class="col-sm-8" style="padding-top: 10px;padding-left: 84px;">
        <span style="color: #222;font-size: 0.8em;">Hi {{authenticated.z.result.0.name}},</span>
    </div>
    <div class="col-sm-4 align-self-end">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="https://srvslscet001.uct.ac.za/optout/admin/">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="https://srvslscet001.uct.ac.za/optout/series/">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="https://srvslscet001.uct.ac.za/optout/dass/">Survey</a>
            </li>
        </ul>
    </div>
</div>