<script type="text/x-tmpl" id="tmpl-table-series">
    <table  class="main-tbl">
        <thead>
            <tr>
                <th style="width: 220px;" class="sort asc">
                    <span>
                        Series
                        <i></i>
                    </span>
                </th>
                <th style="width: 220px;" class="sort">
                    <span>
                        Organizer(s)
                        <i></i>
                    </span>
                </th>
                <th style="width: 100px;" class="sort">
                    <span>
                        Retention
                        <i></i>
                    </span>
                </th>
                <th style="width: 160px;" class="sort">
                    <span>
                        First Recording
                        <i></i>
                    </span>
                </th>
                <th style="width: 160px;" class="sort">
                    <span>
                        Last Recording
                        <i></i>
                    </span>
                </th>
                <th style="min-width: 90px;" class="sort">
                    <span>
                        # Events
                        <i></i>
                    </span>
                </th>
                <th style="min-width: 90px;">
                    <span>
                        Actions
                        <i></i>
                    </span>
                </th>
                <!--th style="min-width: 90px;"> </th-->
            </tr>
        </thead>
        <tbody>
            {%  if (o.result) {
                    include('tmpl-row', o.result);
                } else {
                    include('tmpl-row-loading', {});
                }
            %}
        </tbody>
    </table>
    <!--
        total: 2176,
        offset: 0,
        count: 10,
        limit: 10,
    -->
    <p>{%=o.total%} - {%=o.offset%} - {%=o.count%} - {%=o.limit%}</p>
    <div class="pagination">
        <a class="prev disabled" ng-class="{disabled: !table.isNavigatePrevious()}" ng-click="table.goToPage(table.pagination.offset - 1)"></a>
        <a ng-repeat-start="page in table.getDirectAccessiblePages()" ng-class="{wide: table.maxLabel.length > 2}" ng-if="page.active" class="active ng-binding ng-scope" style="">1</a>
        <a class="next disabled" ng-class="{disabled: !table.isNavigateNext()}" ng-click="table.goToPage(table.pagination.offset + 1)" style=""></a>
    </div>
</script>

<script type="text/x-tmpl" id="tmpl-row">
    {% $.each(o, function( i, series ) { %}
    <tr>
        <td>{%=series.title%}</td>
        <td>
            <div>{%=series.contributor%}</div>
            <div>{%=series.username%}</div>
        </td>
        <td>{%=series.retention%}</td>
        <td>{%=moment(series.first_recording).calendar(null, { sameElse: 'DD/MM/YY' })%}</td>
        <td>{%=moment(series.last_recording).calendar(null, { sameElse: 'DD/MM/YY' })%}</td>
        <td class="text-right">{%=series.count%}</td>
        <td><a style="font-size: large;padding: 5px;" href="https://srvslscet001.uct.ac.za/optout/view-series/{%=series.hash%}"><i class="fas fa-align-left"></i></a></td>
    </tr>
    {% } ); %}
</script>

<script type="text/x-tmpl" id="tmpl-row-loading">
    <tr>
        <td colspan="7">
            <i class="fas fa-cog fa-spin fa-2x"></i>
            <span style="display: inline-block; position: relative; left: 10px;top: -5px;">Loading series information...</span>
        </td>
    </tr>
</script>

<script type="text/x-tmpl" id="tmpl-timetable-loading">
    <div class="col-sm-12">
        <div class="text-info loading">
            <i class="fas fa-cog fa-spin fa-2x"></i>
            <span>Loading timetable information...</span>
        </div>
    </div>
</script>

<script type="text/x-tmpl" id="tmpl-courses-error">
    <div class="text-danger">
        <span>Error loading courses</span>
    </div>
</script>

<script type="text/x-tmpl" id="tmpl-timetable-error">
    <div class="col-sm-12">
        <div class="text-danger">
            <span>Error loading courses</span>
        </div>
    </div>
</script>

<script type="text/x-tmpl" id="tmpl-dept-altMail">
    <div class="multi" id="{%=o.dept%}_alt_{%=o.index%}">
        <a href="#" class="danger" rel="{%=o.dept%}" data-index="{%=o.index%}">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
        <input type="text" class="form-control"
                id="inp_{%=o.dept%}_alt_{%=o.index%}" data-type="dept" data-field="altMail" data-dept="{%=o.dept%}" data-hash="{%=o.hash%}"
                data-index="{%=o.index%}"
                placeholder="E-mail" data-old="" value=""/>
        <span class="loader">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
</script>

<script type="text/x-tmpl" id="tmpl-course-timetable">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="course_table" class="table">
                <thead>
                    <tr class="notop">
                        <th rowspan="2">Venue</th>
                        <th rowspan="2">Dates</th>
                        <th rowspan="2">Times</th>
                        <th class="header">Days</th>
                    </tr>
                    <tr>
                        <th class="days">
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                            <div>Sun</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% $.each(o.LEC, function(i, lec) { %}
                        <tr>
                            <td>{%=lec.sn_venue%}</td>
                            <td>
                                {%=lec.start_date%} <small>to</small> {%=lec.end_date%}
                            </td>
                            <td>
                                {%=lec.start_time%} <small>-</small> {%=lec.end_time%}
                            </td>
                            <td class="days">
                                <div class="{% if (lec.days.mon) { %}use{% } %}"></div>
                                <div class="{% if (lec.days.tue) { %}use{% } %}"></div>
                                <div class="{% if (lec.days.wed) { %}use{% } %}"></div>
                                <div class="{% if (lec.days.thu) { %}use{% } %}"></div>
                                <div class="{% if (lec.days.fri) { %}use{% } %}"></div>
                                <div class="{% if (lec.days.sat) { %}use{% } %}"></div>
                                <div class="{% if (lec.days.sun) { %}use{% } %}"></div>
                            </td>
                        </tr>
                    {% }); %}
                </tbody>
            </table>
        </div>
    </div>
</script>
